*{
    background-color: antiquewhite;
    text-align: center;
    font-size: 1.05em;
}

.container{
    background-color: white;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    width: 400px;
    margin: 50px auto 0 auto;
    padding: 30px 20px;
    text-align: left;
}
.container label{
    display: inline-block;
    width: 100%;
    background-color: white;
    margin: 10px 0px 5px auto;
    text-align: left;
}
.container input{
    display: inline-block;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(75, 75, 75);
    border-style: none none solid none;
}
.container select{
    display: inline-block;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(75, 75, 75);
    border-style: none none solid none;
    margin: 0px auto 10px auto;
    text-align: left;
    font-size: medium;
}
.container button{
    display: inline-block;
    width: 100px;
    background-color: antiquewhite;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 10px;

}
.output{
    text-align: left;
    margin: 10px auto 10px auto;
    font-size: xx-large;
    background-color: white;
}